.original {
    --bg: #fff;
    --bg-dark: #FAFAFC;
    --bg-disabled: #d8d8d8;
    --txt: #fff;
    --txt-dark: #414141;
    --major: #566DE6;
    --minor: #8A96EE;
}

.red {
    --bg: #fafafa;
    --bg-dark: #e3e3e3;
    --bg-disabled: #d8d8d8;
    --txt: #414141;
    --txt-dark: #414141;
    --major: #b72712;
    --minor: #ff7881;
}

.night {
    --bg: #595959;
    --bg-dark: #636363;
    --bg-disabled: #a3a3a3;
    --txt: #d4c44d;
    --txt-dark: #f8e854;
    --major: #4F4F4F;
    --minor: #808080;
}

.bright {
    --bg: #fafafa;
    --bg-dark: #e3e3e3;
    --bg-disabled: #d8d8d8;
    --txt: #414141;
    --txt-dark: #414141;
    --major: #1fb922;
    --minor: #78ffa9;
}
